---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About DCC</Fragment>
      <Fragment slot="desc">
        DCC and DCC Help are built by a small team in the School of Computer
        Science and Engineering at UNSW, Sydney.
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Who are we?</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        The Debugging C/C++ Compiler was created by Dr Andrew Taylor to support
        introductory programming in C for students at the University of New
        South Wales, Sydney. DCC explains the C programming language's most
        common errors and assists students in catching bugs. DCC is an essential
        component ensuring we can continue to teach C in our introductory
        programming courses.
      </p>

      <h2 class="font-bold text-3xl text-gray-800">
        5 million strong and counting
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        DCC has been used over 5 million times, making it the trusted companion
        for students grappling with the intricacies of C programming. It's
        designed to explain the most common errors that arise, building a
        foundations-first approach.
      </p>
      <p class="text-lg leading-relaxed text-slate-500">
        The Debugging C/C++ Compiler was created by Dr Andrew Taylor to support
        introductory programming in C for students at the University of New
        South Wales, Sydney. DCC, used over 5 million times, explains the C
        programming language's most common errors and assists students in
        catching bugs. As such, it allows UNSW to continue to use C in
        introduction to programming courses.
      </p>

      <h2 class="font-bold text-3xl text-gray-800">Evolving with expertise</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        DCC started as just a few bash scripts, today, Dr Jake Renzella and Dr
        Sasha Vassar are extending DCC with AI innovations such as DCC Help, and
        DCC Sidekick - and introducing a cognitive load theory lens through
        which to evluate the efficacy of DCC.
      </p>
    </div>
  </Container>
</Layout>
