---
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import DCCHelp from "@/components/dcchelp.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="DCC Help">
  <Container>
    <Sectionhead>
      <Fragment slot="title">$dcc --help</Fragment>
      <Fragment slot="desc">
        DCC Help brings the power of Generative AI to the Debugging C Compiler, <br>utilising extra context to produce helpful, contextual explanations.
      </Fragment>
    </Sectionhead>
    <DCCHelp />
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-4"></div>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-12 mb-12">
      <div class="mb-4">
        <h2 class="font-bold text-2xl text-gray-800">
          Context-Rich Explanations
        </h2>
        <p class="text-md text-slate-500">
          DCC Help generates error explanations that go beyond the surface, with
          access to the source code, compiler output and stack variables at time
          of error.
        </p>
      </div>
      <div>
        <h2 class="font-bold text-2xl text-gray-800">Always available</h2>
        <p class="text-md text-slate-500">
          No more struggling with error messages; explanations at your
          fingertips when you need them!
        </p>
      </div>
      <div>
        <h2 class="font-bold text-2xl text-gray-800">Seamless Integration</h2>
        <p class="text-md text-slate-500">
          DCC Help seamlessly integrates with the DCC compiler, within the
          command line environment
        </p>
      </div>
      <div>
        <h2 class="font-bold text-2xl text-gray-800">
          Natural language error explanations
        </h2>
        <p class="text-md text-slate-500">
          DCC Help breaks down cryptic compiler error messages into simple
          explanations.
        </p>
      </div>
    </div>
  </Container>
</Layout>
