<div class="max-w-5xl mx-auto">
    <terminal-window style="background-color: rgb(14, 17, 19)">
    <terminal-line data="input">dcc program.c -o program</terminal-line>

    <terminal-line data="input">./program</terminal-line>
    <terminal-line>
      program.c:11:37 runtime error - <span style="color: #be3737"
        >index 5 out of bounds for type 'int [5]'</span
      >
    </terminal-line>

    <terminal-line lineDelay="0">
      dcc explanation: You are using an illegal array index: <span
        style="color: #be3737">5</span
      >
    </terminal-line>
    <terminal-line lineDelay="0"
      >&emsp; Valid indices for an array of size <span style="color: #be3737"
        >5</span
      > are <span style="color: #be3737">0</span>..<span style="color: #be3737"
        >4</span
      ></terminal-line
    >
    <terminal-line lineDelay="0"
      >&emsp; Make sure the size of your array is correct.</terminal-line
    >
    <terminal-line lineDelay="0"
      >&emsp; Make sure your array indices are correct.</terminal-line
    >
    <terminal-line lineDelay="0"></terminal-line>
    <terminal-line lineDelay="0">
      Execution stopped in main() in <span style="color: #be3737"
        >program.c</span
      > at <span style="color: #be3737">line 11</span>:</terminal-line
    >
    <terminal-line lineDelay="0"></terminal-line>

    <terminal-line lineDelay="0">&emsp; int i = 0;</terminal-line>
    <terminal-line lineDelay="0">&emsp; while(i &lt; 5) &#123;</terminal-line>
    <terminal-line lineDelay="0"
      >&emsp; &emsp; printf(&quot;%d\n&quot;, data[i]);</terminal-line
    >
    <terminal-line lineDelay="0">&emsp; &emsp; i++;</terminal-line>
    <terminal-line lineDelay="0">&emsp; &#125;</terminal-line>
    <terminal-line lineDelay="0">
      <span style="color: #be3737">
        --&gt; printf(&quot;Final value was: %d\n&quot;, data[i]);</span
      ></terminal-line
    >
    <terminal-line lineDelay="0">&#125;</terminal-line>
    <terminal-line lineDelay="0"></terminal-line>
    <terminal-line lineDelay="0">Values when execution stopped:</terminal-line>
    <terminal-line lineDelay="0"></terminal-line>
    <terminal-line lineDelay="0">data = &#123;1, 2, 3, 4, 5&#125;</terminal-line
    >
    <terminal-line lineDelay="0">i = 5</terminal-line>
    <terminal-line lineDelay="0"
      >data[i] = <span style="color: #be3737">&lt;uninitialized value&gt;</span
      ></terminal-line
    >
    <terminal-line lineDelay="0"
      >Don't understand? Get AI-generated help by running: dcc-help</terminal-line
    >
  </terminal-window>
</div>
