<footer class="my-20">
  <p class="text-center text-sm text-slate-500 mb-4">
    <sup>*limited support for MacOS, WSL2 support for Windows only.</sup>
  </p>
  <p class="text-center text-sm text-slate-500 ">
    Copyright Â© {new Date().getFullYear()} UNSW, CSE. All rights reserved.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-1">
    Website made by <a
      href="https://github.com/COMP1511UNSW/dcc"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Jake Renzella
    </a>
  </p>
</footer>
