---
import Link from "@components/ui/link.astro";
// @ts-ignore
import { Icon } from "astro-icon/components";
import Counter from "./ui/counter.astro";
---

<main class="flex justify-center items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      The Debugging <br />C/C++ Compiler
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      The Debugging C Compiler (DCC) is an educationally-focused C/C++ compiler
      which explains common novice compiler errors in simple terms. <wbr /> It introduces
      additional compile-time and run-time checks such as memory leak detection,
      and much more.
    </p>

    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://github.com/COMP1511UNSW/dcc#installation"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:cloud-download" />

        Install
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/COMP1511UNSW/dcc"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link>
    </div>
  </div>
</main>
<Counter value={2000} />
