---
// @ts-ignore
import { Icon } from 'astro-icon/components'
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your platforms and languages<sup>*</sup></h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="text-2xl" name="simple-icons:linux" />
    <Icon class="text-6xl" name="simple-icons:macos" />
    <Icon class="text-2xl" name="simple-icons:windows" />
    <Icon class="text-2xl" name="simple-icons:c" />
    <Icon class="text-2xl" name="simple-icons:cplusplus" />
  </div>
</div>
